body{
    margin: 0;
    padding: 0;
    background: url('../img/bg.jpg');
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.login_box{
    width: 320px;
    height: 420px;
    background: #f4f4f4;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 20px;
}
.avatar{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 45px);
}
h1{
    padding: 0;
    margin: 0;
    margin-top: -15px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 22px;
}
.login_box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.title p{
    text-align: center; 
    font-weight: normal;
    margin-bottom: 20px;
}
.login_box input{
    width: 100%;
    margin-bottom: 20px;
}
.login_box input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #39A2DB;
    background: transparent;
    outline: none;
    height: 35px;
}
.login_box input[type="submit"]{
    border: none;
    outline: none;
    height: 35px;
    background: #39A2DB;
    color: #fff;
    font-size: 15px;
    border-radius: 20px;
}
.login_box input[type="submit"]:hover{
    cursor: pointer;
    background: #0b6ea3;
    color: #fff;
}
.login_box a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: rgb(112, 112, 112);
}